/*
Par : Jean-Loup
Style BRIGHT interface utilisateur
Créé : 19/11/16
Dernière modification : 20/11/16
*/
html, body, header{
	width : 100%;
	margin : 0;
	padding : 0;
}

/*
	Header styling
*/

/*
	Common styling
*/
header{
	box-shadow : 0px 5px 5px -4px grey;
	width : 100%;
	padding : 0;

}
/*
	Search bar styling 
*/
#search_button{
	background : url(../img/spyglass_icon_dark.png) no-repeat center;
	background-size: 20px;
	border-top : solid 1px lightgrey;
	border-right : solid 1px lightgrey;
	border-left : none;
	border-top-right-radius: 30px;
	
	border-bottom : solid 1px lightgrey;
	margin : 0px;
	height : 54px;
	width : 50px;
}
#searchbar{
	border-top : solid 1px lightgrey;
	border-right : none;
	border-left: none;
	border-bottom : solid 1px lightgrey;
	margin : -6px;
	height: 50px;
	width : 350px;
}
#theme_button{
	border-top : solid 1px lightgrey;
	border-left : solid 1px lightgrey;
	border-right : none;
	border-top-left-radius: 30px;
	border-bottom : solid 1px lightgrey;
	height : 54px;
	width : 150px;
}
/*
	Searchbar container Styling
*/
#searchform{
  position: fixed;
  top : 46px;
  left: 50%;
  transform: translate(-50%);
  display : inline-block;
}

/*
	Header styling BRIGHT theme
	Logo styling BRIGHT theme
*/
#logo{
	display : block;
	width : 250px;
	height : 100px;
	background : url(../img/netflex_logo_bright.png) no-repeat center;
	background-size: 250px 100px;
	overflow:hidden;
    text-indent:100%;
    border : none;
}
/*
	Navbar button styling BRIGHT theme
*/
#toggle_navbar{
	position : absolute;
	right : 1%;
	top : 50px;
	border : none;
	display : inline-block;
	background : url(../img/arrow_dark.png) no-repeat center;
	background-size : 20px;
	height : 40px;
	width : 15%;
}
/*
	Button dynamic colouring BRIGHT theme
*/
#theme_button:hover,#toggle_navbar:hover,#search_button:hover{
	background-color: lightgrey;
	border : solid 1px lightblue;
	box-shadow: 0px 0px 15px lightblue;
}
#theme_button:active,#toggle_navbar:active,#search_button:active{
	background-color: lightblue;
}

/*
	Navbar styling - BRIGHT theme
*/
#navbar{
	position : fixed;
	right : 0px;
	background : white;
	padding : 20px;
	box-shadow: -5px 0px 5px -4px grey;
	height : 100%;
	width : 15%;
}
#nav_element{
	margin-bottom : 80px;
	margin-left : 15px;
}
#user_image{
	max-width: 45px;
	border-radius : 50px;
}
#news_table{
	border : 1px solid grey;
	border-collapse: collapse;
	width : 100%;
}
#nav_section{
	
	box-shadow: 1px 1px 2px grey inset;
	width : 100%;
	text-align: center;
	margin : 4px;
	padding : 5px;
}

#theme_div{
	position : fixed;
  	left: 50%;
  	transform: translate(-50%);
  	width : 500px;
  	min-height : 50px;
  	border : solid 1px lightgrey;
  	border-bottom-right-radius: 30px;
  	border-bottom-left-radius: 30px;
  	padding-right : 48px;
  	text-align: right;
  	box-shadow : 0px 5px 6px grey;
}
#themes_table::td{
	width : 40px;
}
#themes_table{
	margin-left : 30px;
}
#prof_log_button1,#prof_log_button2{
	visibility : hidden;
	display : inline-block;
}